{% extends "::base.html.twig" %}

{% block title %}My MemeBook{% endblock %}

{% block body %}
<div class="section">
  <div class="container">
    <div class="row">
      <h1 class="center-align">{{ user.username }}'s Book</h1>
      <p class="center-align">You have to click on your Meme for show, update or delete them</p>
    </div>
    <div class="divider z-depth-3">
    </div>
    <div class="row row-list">
      {% for post in posts %}
      <div class="col s12 m4">
	<div class="card hoverable">
	  <div class="card-image waves-effect waves-block waves-light">
            <img src="{{ post.url }}" class="meme-img activator" alt="{{ post.titre }}">
	  </div>

	  <div class="card-content">
            <p class="flow-text">{{ post.description|length > 50 ? post.description|slice(0, 50) ~ ' ... ' : post.description }}</p>
	  </div>
	  <div class="card-action">

            <div class="chip grey lighten-1" >
	      <i class="material-icons tiny" style="display:inline-flex;vertical-align:middle;">visibility</i>
	      <span>
		&nbsp;{{ post.score }}
	      </span>
	    </div>

	    <div class="chip grey lighten-1" >
	      <i class="material-icons tiny" style="display:inline-flex;vertical-align:middle;">today</i>
	      <span>
		&nbsp;{{ post.postedDate|date('d/m/Y H:i') }}
	      </span>
	    </div>
	    <div class="chip grey lighten-1">
	      <img src="{{ asset('img/fox.jpg')}}" alt="Contact Person">
	      {{ post.userpost.username}}
	    </div>
	  </div>
	  <div class="card-reveal">
	    <span class="card-title grey-text text-darken-4">Action ?<i class="material-icons right">close</i></span>
	    <ul class="choice-li" >
	      <li> <a href="{{path ('show_post',{'id':post.id})}}" class="waves-effect waves-light btn">Show post</a></li>
	      <li> <a href="{{path ('update_post',{'id':post.id})}}" class="waves-effect waves-light orange  btn">Update post</a></li>
	      <li> <a href="{{path ('delete_post',{'id':post.id})}}" class="waves-effect waves-light red btn">Delete post</a></li>
	    </ul>
	  </div>
	</div>
      </div>
      {% endfor %}
      <a href="{{path ('create_post')}}" class="hoverable-link">
	<div class="col s12 m4">
	  <div class="card hoverable">
	    <div class="card-image">
              <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/add-512.png" class="meme-img" alt="add-picture">
	    </div>

	    <div class="card-content">
              <p class="flow-text">Add a new meme !</p>
	    </div>

	  </div>
	</div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
